//Fuentes
@font-face {
  font-family: 'mostratworegularregular';
  src: url("../fonts/mostratworegular-webfont.eot");
  src: url("../fonts/mostratworegular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mostratworegular-webfont.woff2") format("woff2"), url("../fonts/mostratworegular-webfont.woff") format("woff"), url("../fonts/mostratworegular-webfont.ttf") format("truetype"), url("../fonts/mostratworegular-webfont.svg#mostratworegularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);//google fonts