//Fuentes
$font-general: "roboto";
$font-title: "mostratworegularregular";

//Colores

$color-1: #ffffff; //blanco
$color-2:#CCD2D2; //gris
$color-3:#1077c3;//azul
$color-4:#efe60c;//amarillo
$color-5:rgba(16,119,195,.85);//azul con transparencia
$color-6:rgba(0,0,0,.9);// negro fondo del menu
$color-7:rgba(0,0,0,.3);// negro fondo de los li del menu
